.amenity-list {
    @media (max-width: 920px) {}

    .amenity-container {
        margin: 0 auto;
        max-width: 880px;
        max-height: 506px;
        gap: 110px;

        @media (max-width: 920px) {
            margin: 0 22px 0 22px;
            max-height: fit-content;
            justify-content: center;
        }
    }
}