.intro {
    .intro-txt {}

    @media (max-width: 800px) {
        // justify-content: center;
        background-image: url('../assets/images/bg-curvy-desktop.svg');
    }

    background-color: $clr-intro-bg;
    background-image: url('../assets/images/bg-curvy-mobile.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-block-start: 75px;

    .intro-container {
        max-width: 724px;
        text-align: center;

        .img-intro {
            display: block;
            margin: 0 auto;
            max-width: 720px;
            max-height: 534px;

            @media (max-width: 800px) {
                max-width: 304px;
                max-height: 225px;
            }
        }

        h1 {
            font-family: 'Railway';
            font-size: 40px;
            margin-block-start: 30px;

            @media (max-width: 800px) {
                max-width: 320px;
                max-height: 101px;
                font-size: 24px;
                margin: 33px auto 0 auto;
            }
        }

        p {
            margin-block-start: 45px;
            font-size: rem(20px);

            @media (max-width: 800px) {
                max-width: 296px;
                max-height: 82px;
                font-size: 14px;
                margin: 33px auto 0 auto;
            }

            // font-family: 'openSans';
        }

        .btn-intro {
            width: 280px;
            height: 56px;
            border-radius: 50px;
            border: none;
            background-color: $clr-cyan;
            font-size: rem(16px);
            font-family: 'Railway';
            font-weight: 600;
            margin-block-start: 35px;
            margin-block-end: 150px;
        }
    }
}