.main-header {
    background-color: $clr-intro-bg;

    header {
        margin: 0 auto;
        padding: 74px 80px 0px 80px;

        @media (max-width: 800px) {
            padding: 24px 20px 0px 20px;
        }
    }

    .header-logo {
        width: 176px;
        height: 51px;

        @media (max-width: 800px) {
            width: 80px;
            height: 23px;
        }
    }

    .links {

        a:not(:last-child) {
            margin-inline-end: 57px;

            @media (max-width: 800px) {
                // justify-content: center;
                margin-inline-end: 24px;
            }
        }
    }
}