.content {

    .content-container {
        @media (max-width: 1220px) {
            flex-direction: column;
        }

        margin-block-start: 130px;
        margin-block-end: 130px;

        .img-content {
            max-width: 614px;
            max-height: 463px;
            margin-inline-end: 57px;

            @media (max-width: 1220px) {
                margin-inline-end: 0px;
            }

            @media (max-width: 800px) {
                max-width: 304px;
                max-height: 230px;
            }
        }

        .txt {
            // margin-block-start: 30px;

            @media (max-width: 1220px) {
                // text-align: center;
            }

            max-width: 563px;
            max-height: 282px;

            h2 {

                @media (max-width: 1220px) {
                    max-width: 480px;
                    margin-block-start: 50px;
                    // margin: 22px auto;
                }

                @media (max-width: 800px) {
                    font-size: 18px;
                    text-align: center;
                    // margin: 0 auto;
                }

                max-width: 200px;
                margin-block-end: 22px;
            }

            p {
                @media (max-width: 800px) {
                    max-width: 320px;
                    font-size: 14px;
                }
            }

            p:nth-child(2) {
                margin-block-end: 19px;
            }

            p:nth-child(3) {
                margin-block-end: 27px;
            }

            a {
                // display: block;
                color: $clr-cyan;
                text-decoration: underline 2px;

                img {
                    vertical-align: middle;
                }
            }
        }
    }
}