.testimonial {
    padding: 40px 26px 26px 26px;
    max-width: 360px;
    max-height: 200px;
    background-color: $clr-testim-bg;
    border-radius: 3px;

    .user {
        margin-block-start: 26px;
    }

    .txt {
        font-size: 14px;
    }

    img {
        width: 24px;
        height: 24px;
        border-radius: 50px;
        object-fit: cover;
        position: relative;
        top: 3px;
        margin-inline-end: 8px;
        // line-height: 2;
        // vertical-align: text-bottom;
    }

    .fullname {
        // font-family: 'openSans';
        font-size: rem(10px);
        font-weight: 700;
    }

    .user-title {
        font-size: rem(7px);
    }
}