.amenity {
    text-align: center;
    width: 384px;
    height: 213px;

    .amenity-title {
        font-family: 'Railway';
        font-size: 20px;
    }

    .amenity-txt {
        font-size: 14px;
        font-family: 'openSans';
    }
}